bpWYJd5bFKUhugEu.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-12-23T08:07:34.414Z",
    "createdAt": "2025-12-23T08:06:19.844Z",
    "versionId": "af9bc8ac-7900-40fc-b7c3-23535a32227e",
    "workflowId": "bpWYJd5bFKUhugEu",
    "nodes": [
      {
        "parameters": {
          "authentication": "oAuth2",
          "select": "channel",
          "channelId": {
            "__rl": true,
            "mode": "list",
            "value": ""
          },
          "text": "=Watch your agent work!\n\n{{ $json.data.liveViewUrl }}",
          "otherOptions": {
            "includeLinkToWorkflow": false
          }
        },
        "id": "b7410f5f-76ff-4a2f-9d3c-cc6cd0600636",
        "name": "Slack",
        "type": "n8n-nodes-base.slack",
        "position": [
          1168,
          224
        ],
        "webhookId": "72d47d9c-6860-4248-8e83-7790264fdaf2",
        "typeVersion": 2.3,
        "credentials": {
          "slackOAuth2Api": {
            "id": "LrDodk0KhRPmBFJ9",
            "name": "Slack account"
          }
        }
      },
      {
        "parameters": {
          "profileName": "={{ $json.profile_name }}",
          "additionalFields": {}
        },
        "id": "7c2df186-9173-485b-9a24-5e122b311c7e",
        "name": "Session",
        "type": "n8n-nodes-base.airtop",
        "position": [
          320,
          240
        ],
        "typeVersion": 1,
        "credentials": {
          "airtopApi": {
            "id": "nX7zjoVDOyNeKcRP",
            "name": "Airtop account"
          }
        }
      },
      {
        "parameters": {
          "resource": "window",
          "url": "={{ $('When Executed by Another Workflow').item.json.url }}",
          "getLiveView": true,
          "additionalFields": {}
        },
        "id": "c58ef737-e801-4a76-873e-633822052e53",
        "name": "Window",
        "type": "n8n-nodes-base.airtop",
        "position": [
          512,
          240
        ],
        "typeVersion": 1,
        "credentials": {
          "airtopApi": {
            "id": "nX7zjoVDOyNeKcRP",
            "name": "Airtop account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "0a0680af-39bd-4bc7-b9cd-84c1766c79a1",
                "name": "sessionId",
                "type": "string",
                "value": "={{ $('Session').item.json.sessionId }}"
              },
              {
                "id": "13940ee8-c1d4-4718-a7b4-176c44c097b7",
                "name": "windowId",
                "type": "string",
                "value": "={{ $('Window').item.json.data.windowId }}"
              },
              {
                "id": "a0f2005c-2cd2-4a8d-891b-a4759b72a124",
                "name": "output",
                "type": "string",
                "value": "Session and window created successfully"
              }
            ]
          },
          "options": {}
        },
        "id": "390fc3ba-f3b3-4abf-9712-275796acd98a",
        "name": "Return IDs",
        "type": "n8n-nodes-base.set",
        "position": [
          864,
          240
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "content": "## Start Browser Tool",
          "height": 240,
          "width": 1040,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          48,
          192
        ],
        "id": "2e7b873d-970a-4be7-9975-4434a3f85d83",
        "name": "Sticky Note5"
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "url"
              },
              {
                "name": "profile_name"
              }
            ]
          }
        },
        "id": "78d31c12-8747-4966-8fa2-2ca7852bf417",
        "name": "When Executed by Another Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          112,
          240
        ],
        "typeVersion": 1.1
      }
    ],
    "connections": {
      "Session": {
        "main": [
          [
            {
              "node": "Window",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Window": {
        "main": [
          [
            {
              "node": "Return IDs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Session",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Matthew Posey",
    "name": "Version af9bc8ac",
    "description": "First attempt, following Nate Herk youtube method on automation browser trigger. This should open up a browser window for airtop to navigate. "
  },
  "activeVersionId": "af9bc8ac-7900-40fc-b7c3-23535a32227e",
  "connections": {
    "Session": {
      "main": [
        [
          {
            "node": "Window",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window": {
      "main": [
        [
          {
            "node": "Return IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-22T02:19:20.686Z",
  "id": "bpWYJd5bFKUhugEu",
  "isArchived": false,
  "meta": null,
  "name": "StartBrowser Tool",
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "text": "=Watch your agent work!\n\n{{ $json.data.liveViewUrl }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "b7410f5f-76ff-4a2f-9d3c-cc6cd0600636",
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "position": [
        1168,
        224
      ],
      "webhookId": "72d47d9c-6860-4248-8e83-7790264fdaf2",
      "typeVersion": 2.3,
      "credentials": {
        "slackOAuth2Api": {
          "id": "LrDodk0KhRPmBFJ9",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "profileName": "={{ $json.profile_name }}",
        "additionalFields": {}
      },
      "id": "7c2df186-9173-485b-9a24-5e122b311c7e",
      "name": "Session",
      "type": "n8n-nodes-base.airtop",
      "position": [
        320,
        240
      ],
      "typeVersion": 1,
      "credentials": {
        "airtopApi": {
          "id": "nX7zjoVDOyNeKcRP",
          "name": "Airtop account"
        }
      }
    },
    {
      "parameters": {
        "resource": "window",
        "url": "={{ $('When Executed by Another Workflow').item.json.url }}",
        "getLiveView": true,
        "additionalFields": {}
      },
      "id": "c58ef737-e801-4a76-873e-633822052e53",
      "name": "Window",
      "type": "n8n-nodes-base.airtop",
      "position": [
        512,
        240
      ],
      "typeVersion": 1,
      "credentials": {
        "airtopApi": {
          "id": "nX7zjoVDOyNeKcRP",
          "name": "Airtop account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0a0680af-39bd-4bc7-b9cd-84c1766c79a1",
              "name": "sessionId",
              "type": "string",
              "value": "={{ $('Session').item.json.sessionId }}"
            },
            {
              "id": "13940ee8-c1d4-4718-a7b4-176c44c097b7",
              "name": "windowId",
              "type": "string",
              "value": "={{ $('Window').item.json.data.windowId }}"
            },
            {
              "id": "a0f2005c-2cd2-4a8d-891b-a4759b72a124",
              "name": "output",
              "type": "string",
              "value": "Session and window created successfully"
            }
          ]
        },
        "options": {}
      },
      "id": "390fc3ba-f3b3-4abf-9712-275796acd98a",
      "name": "Return IDs",
      "type": "n8n-nodes-base.set",
      "position": [
        864,
        240
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## Start Browser Tool",
        "height": 240,
        "width": 1040,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        48,
        192
      ],
      "id": "2e7b873d-970a-4be7-9975-4434a3f85d83",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "url"
            },
            {
              "name": "profile_name"
            }
          ]
        }
      },
      "id": "78d31c12-8747-4966-8fa2-2ca7852bf417",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        112,
        240
      ],
      "typeVersion": 1.1
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "MathPosey",
    "name": "n8n-Workflow-Backups-"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-22T02:19:20.686Z",
      "createdAt": "2025-12-22T02:19:20.686Z",
      "role": "workflow:owner",
      "workflowId": "bpWYJd5bFKUhugEu",
      "projectId": "VFY7knhJH9Pt1e6U"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-23T08:06:19.841Z",
  "versionId": "af9bc8ac-7900-40fc-b7c3-23535a32227e"
}