DSjbhm8exCfO-30PXxACc.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-02-06T22:00:59.098Z",
    "createdAt": "2026-02-06T22:00:42.795Z",
    "versionId": "920813b9-17a2-4cd2-b0ea-7535a0dd0e23",
    "workflowId": "DSjbhm8exCfO-30PXxACc",
    "nodes": [
      {
        "parameters": {},
        "name": "Error Trigger",
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          -160,
          16
        ],
        "id": "6b6441a1-8066-4ee7-a889-b7dae5d8b601"
      },
      {
        "parameters": {
          "fromEmail": "Mattjposey@gmail.com",
          "toEmail": "=Mattjposey@gmail.com",
          "subject": "=[Alert] Workflow Error: {{ $('Error Trigger').item.json.workflow.name }}",
          "text": "={{ $json.output }}\n---\nRaw Error:\n{{ $('Error Trigger').item.json.execution.lastNodeExecuted }}",
          "options": {}
        },
        "name": "Email Error Report",
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 1,
        "position": [
          368,
          16
        ],
        "id": "754447f1-2d51-4b7b-8ad2-60a777694acc",
        "credentials": {
          "smtp": {
            "id": "LpnGUQ4PDgiMVycW",
            "name": "SMTP account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Workflow Error: {{ $json.workflow.name }}\nid:{{ $json.execution.id }}\nurl:{{ $json.execution.url }}\n\nNode Having the error:\n{{ $json.execution.lastNodeExecuted }}\n\nError Message:\n{{ $json.execution.error.message }}\n\nStack:\n{{ $json.execution.error.stack }}",
          "options": {
            "systemMessage": "You are a helpful error handling assistant. You will be recieving error reports from programs that have failed. Writing up what went wrong, suggesttions for solutions."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          48,
          16
        ],
        "id": "8943d210-2536-4a5a-ad7f-098d51f0fa21",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          32,
          240
        ],
        "id": "656624b1-223e-4a57-b538-09235c06bdbe",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "FCgioqL0Ukq0AAAo",
            "name": "OpenAi account"
          }
        }
      }
    ],
    "connections": {
      "Error Trigger": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Email Error Report",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Matthew Posey",
    "name": "Version 920813b9",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "920813b9-17a2-4cd2-b0ea-7535a0dd0e23",
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Email Error Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-26T21:29:15.937Z",
  "id": "DSjbhm8exCfO-30PXxACc",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Error Handling",
  "nodes": [
    {
      "parameters": {},
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        16
      ],
      "id": "6b6441a1-8066-4ee7-a889-b7dae5d8b601"
    },
    {
      "parameters": {
        "fromEmail": "Mattjposey@gmail.com",
        "toEmail": "=Mattjposey@gmail.com",
        "subject": "=[Alert] Workflow Error: {{ $('Error Trigger').item.json.workflow.name }}",
        "text": "={{ $json.output }}\n---\nRaw Error:\n{{ $('Error Trigger').item.json.execution.lastNodeExecuted }}",
        "options": {}
      },
      "name": "Email Error Report",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        368,
        16
      ],
      "id": "754447f1-2d51-4b7b-8ad2-60a777694acc",
      "credentials": {
        "smtp": {
          "id": "LpnGUQ4PDgiMVycW",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Workflow Error: {{ $json.workflow.name }}\nid:{{ $json.execution.id }}\nurl:{{ $json.execution.url }}\n\nNode Having the error:\n{{ $json.execution.lastNodeExecuted }}\n\nError Message:\n{{ $json.execution.error.message }}\n\nStack:\n{{ $json.execution.error.stack }}",
        "options": {
          "systemMessage": "You are a helpful error handling assistant. You will be recieving error reports from programs that have failed. Writing up what went wrong, suggesttions for solutions."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        48,
        16
      ],
      "id": "8943d210-2536-4a5a-ad7f-098d51f0fa21",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        32,
        240
      ],
      "id": "656624b1-223e-4a57-b538-09235c06bdbe",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "FCgioqL0Ukq0AAAo",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "MathPosey",
    "name": "n8n-Workflow-Backups-"
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "saveDataSuccessExecution": "none",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2026-01-26T21:29:15.937Z",
      "createdAt": "2026-01-26T21:29:15.937Z",
      "role": "workflow:owner",
      "workflowId": "DSjbhm8exCfO-30PXxACc",
      "projectId": "VFY7knhJH9Pt1e6U"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-06T22:00:42.793Z",
  "versionId": "920813b9-17a2-4cd2-b0ea-7535a0dd0e23"
}