j8jxWprqvxR4IOQx.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transform anyone": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "transform anyone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-27T06:38:38.267Z",
  "id": "j8jxWprqvxR4IOQx",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "938a3328-9f51-4e54-a2b4-0c8d1077da95",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        416,
        0
      ],
      "id": "a067d35d-c52f-4eef-89bf-7ca0e14cf969",
      "name": "transform anyone",
      "credentials": {
        "httpHeaderAuth": {
          "id": "KEUSTQg2MHZx1grM",
          "name": "n8nfalvideo"
        }
      }
    },
    {
      "parameters": {
        "url": "response_url",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        832,
        0
      ],
      "id": "0c9031ea-1fbc-45a2-ab1c-5f2b04a7a682",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "KEUSTQg2MHZx1grM",
          "name": "n8nfalvideo"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        624,
        0
      ],
      "id": "b769a783-8008-4c9c-a869-3509d6243960",
      "name": "Wait",
      "webhookId": "18cd638b-0d4c-4634-ab81-72fdbddab2c6"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1jIqtQe3EDyW4VtJoO2EIyGpvk7N0mtX5I2WqtKQGIng",
          "mode": "list",
          "cachedResultName": "n8n_video_Transform",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jIqtQe3EDyW4VtJoO2EIyGpvk7N0mtX5I2WqtKQGIng/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jIqtQe3EDyW4VtJoO2EIyGpvk7N0mtX5I2WqtKQGIng/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "523709a7-712d-4d9b-be12-df2a0529b959",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jMg3j3fkols2qHBL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1jIqtQe3EDyW4VtJoO2EIyGpvk7N0mtX5I2WqtKQGIng",
          "mode": "list",
          "cachedResultName": "n8n_video_Transform",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jIqtQe3EDyW4VtJoO2EIyGpvk7N0mtX5I2WqtKQGIng/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jIqtQe3EDyW4VtJoO2EIyGpvk7N0mtX5I2WqtKQGIng/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Output": "{{ $json.video.url }}",
            "row_number": "={{ $( 'Get.row(s).in sheet').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Id",
              "displayName": "Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Char",
              "displayName": "Char",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Driving Video",
              "displayName": "Driving Video",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image reference",
              "displayName": "Image reference",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Output",
              "displayName": "Output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1040,
        0
      ],
      "id": "77fc512e-1da3-48ba-999f-8cf74150a5a7",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jMg3j3fkols2qHBL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Input\n* google sheet gets information about what video and image we are transforming.",
        "height": 304,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        128,
        -128
      ],
      "id": "977576fc-7b50-4a4b-bbb0-b15a1f67f807",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Output\n* Google sheet outputs a video of a new character mimicking a video, creating a new video.",
        "height": 320,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        976,
        -144
      ],
      "id": "52a37405-75b8-4050-90fa-cbda34dcd954",
      "name": "Sticky Note1"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "MathPosey",
    "name": "n8n-Workflow-Backups-"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-27T06:38:38.267Z",
      "createdAt": "2025-11-27T06:38:38.267Z",
      "role": "workflow:owner",
      "workflowId": "j8jxWprqvxR4IOQx",
      "projectId": "VFY7knhJH9Pt1e6U"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-27T06:45:41.688Z",
  "versionId": "eb637b5b-cabd-48a9-916e-6d9fad6405e8"
}