JOf7BrfFM8VR7y7C.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Suno Lyrics",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Suno Lyrics",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Limit2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Suno Lyrics": {
      "main": [
        [
          {
            "node": "Edit output to Lyrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Suno Style",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Think1": {
      "ai_tool": [
        [
          {
            "node": "Suno Style",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Suno Style": {
      "main": [
        [
          {
            "node": "Edit output to Style",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit2": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Suno Lyrics",
            "type": "main",
            "index": 0
          },
          {
            "node": "Suno Style",
            "type": "main",
            "index": 0
          },
          {
            "node": "Suno Lyrics1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Delete rows or columns from sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Suno Lyrics1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Think2": {
      "ai_tool": [
        [
          {
            "node": "Suno Lyrics1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Suno Lyrics1": {
      "main": [
        [
          {
            "node": "edit output to name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit output to Lyrics": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit output to Style": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "edit output to name": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Kie ai - Suno - Text to Music",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet1": {
      "main": [
        [
          {
            "node": "Delete rows or columns from sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kie ai - Suno - Text to Music": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Kie ai - Suno - Text to Music1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kie ai - Suno - Text to Music1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Kie ai - Suno - Text to Music2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Log Songs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Songs": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-20T09:59:41.674Z",
  "id": "JOf7BrfFM8VR7y7C",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Music Idea Generator",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        16,
        -208
      ],
      "id": "ab29bac9-84b9-4d2c-9759-0fbb7bac3fe0",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "FCgioqL0Ukq0AAAo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "description": "=Use the tool to think about something. It will not obtain new information or change the database, but just append the thought to the log. Use it when complex reasoning or some cache memory is needed."
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        160,
        -208
      ],
      "id": "24305d05-33ec-41c8-bfad-b2f3ba658e79",
      "name": "Think"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1L2dcSLXcOm8M1Vu70IaMHgU1F4qVUSbtxiUud-ndUcE",
          "mode": "list",
          "cachedResultName": "SUNO AI Automstion",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1L2dcSLXcOm8M1Vu70IaMHgU1F4qVUSbtxiUud-ndUcE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1L2dcSLXcOm8M1Vu70IaMHgU1F4qVUSbtxiUud-ndUcE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Style (1000 Words)": "={{ $json['Suno Style Output'] }}",
            "Lyrics (100-120 Words)": "={{ $json['Suno Lyrics Output'] }}",
            "Name": "={{ $json['Suno song name'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lyrics (100-120 Words)",
              "displayName": "Lyrics (100-120 Words)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Style (1000 Words)",
              "displayName": "Style (1000 Words)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        944,
        -384
      ],
      "id": "982553d8-e173-4b03-88ee-5028720f4d3e",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jMg3j3fkols2qHBL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1UizJEadd7C8ie3yuyfFAmkZAZck1TcVZhrNygML4H_Y",
          "mode": "list",
          "cachedResultName": "Vietnamese_GoogleSheets_Suno_List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UizJEadd7C8ie3yuyfFAmkZAZck1TcVZhrNygML4H_Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 277369955,
          "mode": "list",
          "cachedResultName": "Vietnamese",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UizJEadd7C8ie3yuyfFAmkZAZck1TcVZhrNygML4H_Y/edit#gid=277369955"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -784,
        -464
      ],
      "id": "4213c442-aff7-4ddc-be2a-8ba904b67d61",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jMg3j3fkols2qHBL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Language }}{{ $json.Category }}{{ $json['Meaning (English)'] }}{{ $json['Target Phrase (Vietnamese)'] }}{{ $json['Phonetic (auto approx)'] }}{{ $json['Tone breakdown (per word)'] }}{{ $json['Usage premise (sentence-ready)'] }}{{ $json['Example sentence (Vietnamese)'] }}{{ $json['Example sentence (English)'] }}{{ $json['Song hook idea'] }}{{ $json.Genera }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Primary job: Write only lyrics that teach 1 target word/phrase from a specific language and show how to use it in a sentence, formatted for Suno using bracketed section tags.\n\nInputs it requires\n\nLanguage (e.g., Spanish)\n\nTarget word/phrase (e.g., “¿Cómo estás?”)\n\nEnglish meaning (e.g., “How are you?”)\n\nExample sentence in target language + English translation (or permission to generate)\n\nAudience level (kids/adults, beginner/intermediate)\n\nOptional: tone (funny, heartfelt, hype), rhyme preference, song length\n\nOutputs it must produce\n\nLyrics with clear Suno structure tags placed at the start of each section:\n\nRequired tags: [Intro] [Verse] [Chorus] [Bridge] [Outro] (use what fits)\n\nTeaching content baked into the lyrics, in this order:\n\nIntroduce the word/phrase\n\nGive the English meaning\n\nRepeat for memory (hook)\n\nUse it in a sentence (target language)\n\nTranslate the sentence (English)\n\nShort “how/when to use it” note inside lyrics (simple)\n\nOptional advanced meta tags (only if you want control):\n\nExamples: [Tempo: Mid] [Mood: Playful] [Vocalist: Female] [Key: C minor]\n\nRule: keep these minimal and consistent; don’t overload.\n\nHard rules\n\nMust include section tags in brackets for structure.\n\nMust not write the “Style Prompt Field” content (that’s the other agent’s job).\n\nMust not use vague placeholders like “(add chorus here)”.\n\nLyric template (what it should aim to output)\n\n[Intro] quick tease of the phrase\n\n[Verse] meaning + context\n\n[Chorus] repetition + catchy mnemonic\n\n[Verse 2] sentence example + translation\n\n[Bridge] small usage tip / variation\n\n[Outro] final repetition"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        64,
        -432
      ],
      "id": "3634de3b-d31c-4c70-bf0f-5d3769a99c94",
      "name": "Suno Lyrics"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        32,
        224
      ],
      "id": "57eab987-ea38-41e7-8c54-858b9daad4f1",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "FCgioqL0Ukq0AAAo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "description": "=Use the tool to think about something. It will not obtain new information or change the database, but just append the thought to the log. Use it when complex reasoning or some cache memory is needed."
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        160,
        240
      ],
      "id": "91a33933-6042-46de-b597-035c88f9d23a",
      "name": "Think1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Language }}{{ $json.Category }}{{ $json['Meaning (English)'] }}{{ $json['Target Phrase (Vietnamese)'] }}{{ $json['Phonetic (auto approx)'] }}{{ $json['Tone breakdown (per word)'] }}{{ $json['Usage premise (sentence-ready)'] }}{{ $json['Example sentence (Vietnamese)'] }}{{ $json['Example sentence (English)'] }}{{ $json['Song hook idea'] }}{{ $json.Genera }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Primary job: Write only the Style Prompt Field (max ~200 characters), describing genre, mood, instruments, tempo/energy, and vocal style—without any lyric lines or section labels.\n\nInputs it requires\n\nDesired genre/subgenre (1–2 max)\n\nMood (concrete adjective)\n\nTempo/energy (slow/mid/fast; chilled/hype)\n\nInstrumentation (specific: 808s, nylon guitar, strings, boom bap drums, etc.)\n\nVocal style (female/male, choir, layered, rap/sung, airy, aggressive, etc.)\n\nOptional: era reference (e.g., “90s R&B”), mix cues (“wide stereo chorus”)\n\nOutputs it must produce\n\nA single style prompt string under ~200 characters, e.g.\n\n“Uplifting gospel trap, 808s + claps, bright synth stabs, big cinematic chorus, female layered vocals, mid-tempo.”\n\nHard rules\n\nDo NOT include lyrics or section tags like [Verse].\n\nBe specific: genre + mood + instruments + vocal style.\n\nLimit genre mixing to 1–2 main genres.\n\nAvoid vague words like “cool” or “awesome”; replace with concrete mood (uplifting, dreamy, somber, defiant).\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        48,
        16
      ],
      "id": "f861a653-1116-4b13-88ac-034e29ea0a9e",
      "name": "Suno Style"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        720,
        -400
      ],
      "id": "a0c5b68e-8327-4e26-9069-a86716f193cb",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -528,
        -464
      ],
      "id": "b818a0af-44e0-49c8-b64e-e044142e660d",
      "name": "Limit2"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1UizJEadd7C8ie3yuyfFAmkZAZck1TcVZhrNygML4H_Y",
          "mode": "list",
          "cachedResultName": "Vietnamese_GoogleSheets_Suno_List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UizJEadd7C8ie3yuyfFAmkZAZck1TcVZhrNygML4H_Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 277369955,
          "mode": "list",
          "cachedResultName": "Vietnamese",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UizJEadd7C8ie3yuyfFAmkZAZck1TcVZhrNygML4H_Y/edit#gid=277369955"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Language": "={{ $('Get row(s) in sheet').item.json.Language }}",
            "Category": "={{ $('Get row(s) in sheet').item.json.Category }}",
            "Meaning (English)": "={{ $('Get row(s) in sheet').item.json['Meaning (English)'] }}",
            "Target Phrase (Vietnamese)": "={{ $('Get row(s) in sheet').item.json['Target Phrase (Vietnamese)'] }}",
            "Phonetic (auto approx)": "={{ $('Get row(s) in sheet').item.json['Phonetic (auto approx)'] }}",
            "Tone breakdown (per word)": "={{ $('Get row(s) in sheet').item.json['Tone breakdown (per word)'] }}",
            "Usage premise (sentence-ready)": "={{ $('Get row(s) in sheet').item.json['Usage premise (sentence-ready)'] }}",
            "Example sentence (Vietnamese)": "={{ $('Get row(s) in sheet').item.json['Example sentence (Vietnamese)'] }}",
            "Example sentence (English)": "={{ $('Get row(s) in sheet').item.json['Example sentence (English)'] }}",
            "Song hook idea": "={{ $('Get row(s) in sheet').item.json['Song hook idea'] }}",
            "Genera": "={{ $('Get row(s) in sheet').item.json.Genera }}"
          },
          "matchingColumns": [
            "Usage premise (sentence-ready)"
          ],
          "schema": [
            {
              "id": "Language",
              "displayName": "Language",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Meaning (English)",
              "displayName": "Meaning (English)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Target Phrase (Vietnamese)",
              "displayName": "Target Phrase (Vietnamese)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phonetic (auto approx)",
              "displayName": "Phonetic (auto approx)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tone breakdown (per word)",
              "displayName": "Tone breakdown (per word)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Usage premise (sentence-ready)",
              "displayName": "Usage premise (sentence-ready)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Example sentence (Vietnamese)",
              "displayName": "Example sentence (Vietnamese)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Example sentence (English)",
              "displayName": "Example sentence (English)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Song hook idea",
              "displayName": "Song hook idea",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Genera",
              "displayName": "Genera",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -544,
        -240
      ],
      "id": "8895b961-40fd-46c0-9947-8afbfdb6e7d6",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jMg3j3fkols2qHBL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1UizJEadd7C8ie3yuyfFAmkZAZck1TcVZhrNygML4H_Y",
          "mode": "list",
          "cachedResultName": "Vietnamese_GoogleSheets_Suno_List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UizJEadd7C8ie3yuyfFAmkZAZck1TcVZhrNygML4H_Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 277369955,
          "mode": "list",
          "cachedResultName": "Vietnamese",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1UizJEadd7C8ie3yuyfFAmkZAZck1TcVZhrNygML4H_Y/edit#gid=277369955"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -544,
        0
      ],
      "id": "94c0f71c-909f-4553-8104-4c1eb45b021c",
      "name": "Delete rows or columns from sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jMg3j3fkols2qHBL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1040,
        -464
      ],
      "id": "0024740d-37cd-41d2-8364-ad784088224d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "o3-mini",
          "mode": "list",
          "cachedResultName": "o3-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        48,
        -560
      ],
      "id": "89ba12ba-5890-49dc-8d6f-2cd3d13ec6bb",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "FCgioqL0Ukq0AAAo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "description": "=Use the tool to think about something. It will not obtain new information or change the database, but just append the thought to the log. Use it when complex reasoning or some cache memory is needed."
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        192,
        -560
      ],
      "id": "0993ad75-8f2a-4b6c-b13d-6451ceb64dbb",
      "name": "Think2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Language }}{{ $json.Category }}{{ $json['Meaning (English)'] }}{{ $json['Target Phrase (Vietnamese)'] }}{{ $json['Phonetic (auto approx)'] }}{{ $json['Tone breakdown (per word)'] }}{{ $json['Usage premise (sentence-ready)'] }}{{ $json['Example sentence (Vietnamese)'] }}{{ $json['Example sentence (English)'] }}{{ $json['Song hook idea'] }}{{ $json.Genera }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "just coming up with a short name for the song, between 1 - 5 words. NO MORE!"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        64,
        -752
      ],
      "id": "c2a57579-9dc8-4a0f-8103-007dff2716d0",
      "name": "Suno Lyrics1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d7658768-69d9-45a0-ba9b-c3c08440f8d5",
              "name": "Suno song name",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        -752
      ],
      "id": "fa46b5a2-7f93-4776-be7c-f829ee44f8b6",
      "name": "edit output to name"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d7658768-69d9-45a0-ba9b-c3c08440f8d5",
              "name": "Suno Lyrics Output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        -432
      ],
      "id": "a2f3fa29-fc0a-4de1-83e2-2a745c4cdafd",
      "name": "Edit output to Lyrics"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "97bee6c4-b370-41c6-bdeb-faeeb38988cf",
              "name": "Suno Style Output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        16
      ],
      "id": "73f8ac33-124f-4125-92d0-29610a8ad42f",
      "name": "Edit output to Style"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 8a09ed7a3b4bc127bcc818f93bea5783"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $json['Lyrics (100-120 Words)'] }}"
            },
            {
              "name": "customMode",
              "value": "true"
            },
            {
              "name": "instrumental",
              "value": "false"
            },
            {
              "name": "model",
              "value": "V4"
            },
            {
              "name": "callBackUrl",
              "value": "https://api.example.com/callback"
            },
            {
              "name": "style",
              "value": "={{ $json['Style (1000 Words)'] }}"
            },
            {
              "name": "title",
              "value": "={{ $json.Name }}"
            },
            {
              "name": "negativeTags",
              "value": "Heavy Metal, Upbeat Drums"
            },
            {
              "name": "vocalGender",
              "value": "m"
            },
            {
              "name": "styleWeight",
              "value": "0.65"
            },
            {
              "name": "weirdnessConstraint",
              "value": "0.65"
            },
            {
              "name": "audioWeight",
              "value": "0.65"
            },
            {
              "name": "personaId",
              "value": "persona_123"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        -384
      ],
      "id": "427640bd-c6b0-45fa-a3f7-ecb1c12cd966",
      "name": "Kie ai - Suno - Text to Music",
      "credentials": {
        "httpHeaderAuth": {
          "id": "qrSLdQAxyISpv7xA",
          "name": "Kie ai -> sora 2 ai"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1L2dcSLXcOm8M1Vu70IaMHgU1F4qVUSbtxiUud-ndUcE",
          "mode": "list",
          "cachedResultName": "SUNO AI Automstion",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1L2dcSLXcOm8M1Vu70IaMHgU1F4qVUSbtxiUud-ndUcE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1L2dcSLXcOm8M1Vu70IaMHgU1F4qVUSbtxiUud-ndUcE/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1264,
        -384
      ],
      "id": "d59f02db-c85b-4c09-bb16-b5fb6b7a0d81",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jMg3j3fkols2qHBL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1472,
        -384
      ],
      "id": "0aa0176a-1160-4c03-b21b-32da45349ccb",
      "name": "Limit"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1L2dcSLXcOm8M1Vu70IaMHgU1F4qVUSbtxiUud-ndUcE",
          "mode": "list",
          "cachedResultName": "SUNO AI Automstion",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1L2dcSLXcOm8M1Vu70IaMHgU1F4qVUSbtxiUud-ndUcE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1L2dcSLXcOm8M1Vu70IaMHgU1F4qVUSbtxiUud-ndUcE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "Usage premise (sentence-ready)"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Lyrics (100-120 Words)",
              "displayName": "Lyrics (100-120 Words)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Style (1000 Words)",
              "displayName": "Style (1000 Words)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1456,
        -160
      ],
      "id": "b2135617-9ea7-42cf-81fa-6f3f8944f1e6",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jMg3j3fkols2qHBL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1L2dcSLXcOm8M1Vu70IaMHgU1F4qVUSbtxiUud-ndUcE",
          "mode": "list",
          "cachedResultName": "SUNO AI Automstion",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1L2dcSLXcOm8M1Vu70IaMHgU1F4qVUSbtxiUud-ndUcE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1L2dcSLXcOm8M1Vu70IaMHgU1F4qVUSbtxiUud-ndUcE/edit#gid=0"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1456,
        80
      ],
      "id": "aa33d928-c3b0-47ca-a20d-8cd36cb89c87",
      "name": "Delete rows or columns from sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jMg3j3fkols2qHBL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/generate/record-info",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 8a09ed7a3b4bc127bcc818f93bea5783"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2176,
        -384
      ],
      "id": "7f2ad40f-5619-4ac2-9dd3-0ca065e5205e",
      "name": "Kie ai - Suno - Text to Music1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "qrSLdQAxyISpv7xA",
          "name": "Kie ai -> sora 2 ai"
        }
      }
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1968,
        -384
      ],
      "id": "b634270e-e983-4753-84aa-6f71cc3bc032",
      "name": "Wait",
      "webhookId": "dad360d6-93bd-4daf-9113-56050e84cf09"
    },
    {
      "parameters": {
        "name": "={{ $json.song_url }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1eOD5RXpFlVqrNYxNWrKFLaymTgFcMz7t",
          "mode": "list",
          "cachedResultName": "SUNO Music AI",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1eOD5RXpFlVqrNYxNWrKFLaymTgFcMz7t"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2896,
        -400
      ],
      "id": "1505f8fd-1efa-48e9-b3fa-e9a292f487b3",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "WM6RaS4XN5sMHcjI",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ffmpeg-api.com/directory",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3280,
        -320
      ],
      "id": "41be0b4c-84ae-490d-8c41-77513605728d",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.status }}",
                    "rightValue": "SUCCESS",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "343cab6d-2440-480d-a740-5519e7e6d430"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b25191b7-6398-414a-b9dc-0317ac27edaa",
                    "leftValue": "={{ $json.data.status }}",
                    "rightValue": "(ING|_SUCCESS)",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "in progress"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2384,
        -384
      ],
      "id": "4accb8e6-b044-44eb-87e5-7c31d28d9cd9",
      "name": "Switch"
    },
    {
      "parameters": {
        "content": "Trigger the google sheet document to begin prompting the system . ",
        "height": 992,
        "width": 752,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1120,
        -752
      ],
      "id": "f4ed62f1-901b-4ca9-a84a-8cb1c27ee2bd",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## AI generates the name, lyrics and style. This is where I can improve quality of songs. Also possibly make it all one agent\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/components/sticky-notes/)",
        "height": 1152,
        "width": 1344
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -256,
        -848
      ],
      "id": "ffc2dff0-6263-4df9-b2ed-b38b73d226aa",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Kie Ai should cost only $0.06 cents to generate a song. The songs url are then gathered and logged.\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/components/sticky-notes/)",
        "height": 1168,
        "width": 1616,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1152,
        -848
      ],
      "id": "81b54a6b-09f3-4615-8fe3-4b58d153b04e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1b1Kd5-aoTuGenIvR4SC7gg96gKT02OFTJGvEmqsHBUI",
          "mode": "list",
          "cachedResultName": "log songs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1b1Kd5-aoTuGenIvR4SC7gg96gKT02OFTJGvEmqsHBUI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1b1Kd5-aoTuGenIvR4SC7gg96gKT02OFTJGvEmqsHBUI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "title": "={{ $json.data.response.sunoData[0].title }}",
            "duration": "={{ $json.data.response.sunoData[0].duration }}",
            "song_url": "={{ $json.data.response.sunoData[0].audioUrl }}",
            "theme": "={{ $('Get row(s) in sheet').item.json.Category }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "theme",
              "displayName": "theme",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "duration",
              "displayName": "duration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "song_url",
              "displayName": "song_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2640,
        -400
      ],
      "id": "f1d9aefb-7937-4adf-bc70-8f052cd1199a",
      "name": "Log Songs",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jMg3j3fkols2qHBL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -1312,
        448
      ],
      "id": "8af3754a-7a29-4445-9e3f-f8e10edb3e60",
      "name": "On form submission",
      "webhookId": "04094bbc-0c62-46ca-a5da-79fb16c9bc3e"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 8a09ed7a3b4bc127bcc818f93bea5783"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "lowercaseHeaders": true,
          "response": {
            "response": {}
          },
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {}
                ]
              }
            }
          },
          "proxy": ""
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2992,
        -768
      ],
      "id": "ffb4db00-9852-44f8-b0c9-7539d1245f29",
      "name": "Kie ai - Suno - Text to Music2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "qrSLdQAxyISpv7xA",
          "name": "Kie ai -> sora 2 ai"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {
    "Log Songs": [
      {
        "json": {
          "title": "Test",
          "duration": 116.56,
          "song_url": "https://musicfile.kie.ai/ZWVhZDNlZjAtNDFmMy00OWUzLTlkZDMtZjBlZGE2ZjM5NDJl.mp3",
          "theme": "Greetings"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "repo": {
    "owner": "MathPosey",
    "name": "n8n-Workflow-Backups-"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-20T09:59:41.674Z",
      "createdAt": "2025-12-20T09:59:41.674Z",
      "role": "workflow:owner",
      "workflowId": "JOf7BrfFM8VR7y7C",
      "projectId": "VFY7knhJH9Pt1e6U"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-27T11:05:15.345Z",
  "versionId": "6769e5fc-33eb-4e11-90db-4df26b3fa555"
}