SwsqK4UizaTioSiF.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2025-11-30T01:02:17.462Z",
    "createdAt": "2025-11-30T01:02:17.462Z",
    "versionId": "9f639f73-15c2-4fac-a729-5158789bc6c2",
    "workflowId": "SwsqK4UizaTioSiF",
    "nodes": [
      {
        "parameters": {},
        "id": "dec50d37-ed40-4ee4-9bb0-e4f87ef053f3",
        "name": "On clicking 'execute'",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          2320,
          3072
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 1,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "45ce825e-9fa6-430c-8931-9aaf22c42585",
                "operator": {
                  "type": "string",
                  "operation": "empty",
                  "singleValue": true
                },
                "leftValue": "={{ $json.content }}",
                "rightValue": ""
              },
              {
                "id": "9619a55f-7fb1-4f24-b1a7-7aeb82365806",
                "operator": {
                  "type": "string",
                  "operation": "notExists",
                  "singleValue": true
                },
                "leftValue": "={{ $json.error }}",
                "rightValue": ""
              }
            ]
          },
          "options": {}
        },
        "id": "f1c356c2-fd33-4128-b09f-74bff9f75a5c",
        "name": "If file too large",
        "type": "n8n-nodes-base.if",
        "position": [
          2768,
          3600
        ],
        "typeVersion": 2
      },
      {
        "parameters": {},
        "id": "a1463b34-f3bd-47ab-bbd1-e7f7d42acb4b",
        "name": "Same file - Do nothing",
        "type": "n8n-nodes-base.noOp",
        "position": [
          3424,
          4032
        ],
        "typeVersion": 1
      },
      {
        "parameters": {},
        "id": "8ebc7763-b744-4e28-9159-7849fe52b980",
        "name": "File is different",
        "type": "n8n-nodes-base.noOp",
        "position": [
          3424,
          3856
        ],
        "typeVersion": 1
      },
      {
        "parameters": {},
        "id": "7a541734-db02-4958-8e8b-ce5ea45af188",
        "name": "File is new",
        "type": "n8n-nodes-base.noOp",
        "position": [
          3424,
          3680
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## Backup to GitHub \nThis workflow will backup all instance workflows to GitHub and also deleted it if was deleted in n8n.\n\nThe files are saved `ID.json` for the filename.\n\n### Setup\nOpen `Globals` node and update the values below 👇\n\n- **repo.owner:** your Github username\n- **repo.name:** the name of your repository\n\n\nIf your username was `john-doe` and your repository was called `n8n-backups`:\n\n- repo.owner - john-doe\n- repo.name - n8n-backups\n\n\nThe workflow calls itself using a subworkflow, to help reduce memory usage.",
          "height": 601,
          "width": 371,
          "color": 4
        },
        "id": "6800b500-50ef-440a-862e-21bbcff3172f",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1840,
          2912
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "resource": "file",
          "operation": "get",
          "owner": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $json.repo.owner }}"
          },
          "repository": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $json.repo.name }}"
          },
          "filePath": "={{ $('Switch1').item.json.id }}.json",
          "asBinaryProperty": false,
          "additionalParameters": {}
        },
        "id": "323257bf-7027-4704-9b1b-c07d76da2f60",
        "name": "Get file data",
        "type": "n8n-nodes-base.github",
        "position": [
          2544,
          3600
        ],
        "webhookId": "5cf07ee9-70c6-48bf-b370-534315f2d48e",
        "typeVersion": 1,
        "alwaysOutputData": true,
        "credentials": {
          "githubOAuth2Api": {
            "id": "xbzooUXVcAxGUUX7",
            "name": "GitHub account"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "id": "4389ba6f-822b-46d3-97e4-9ff5a0066aa2",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          1968,
          3984
        ],
        "typeVersion": 1.1
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "mode": "id",
            "value": "={{ $workflow.id }}"
          },
          "workflowInputs": {
            "value": {},
            "schema": [],
            "mappingMode": "defineBelow",
            "matchingColumns": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "mode": "each",
          "options": {}
        },
        "id": "b5763452-4f78-40bf-9a6f-a0ba3aa34f0e",
        "name": "Execute Workflow",
        "type": "n8n-nodes-base.executeWorkflow",
        "position": [
          3872,
          3184
        ],
        "typeVersion": 1.2
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "6cf546c5-5737-4dbd-851b-17d68e0a3780",
                "name": "repo.owner",
                "type": "string",
                "value": "MathPosey"
              },
              {
                "id": "452efa28-2dc6-4ea3-a7a2-c35d100d0382",
                "name": "repo.name",
                "type": "string",
                "value": "n8n-Workflow-Backups-"
              }
            ]
          },
          "options": {}
        },
        "id": "c720a134-5f80-4e61-a0f7-b1016a91b3e7",
        "name": "Globals",
        "type": "n8n-nodes-base.set",
        "position": [
          2544,
          3184
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "filters": {},
          "requestOptions": {
            "allowUnauthorizedCerts": true
          }
        },
        "id": "ff8469cd-d7e8-4ff0-9404-98e906dbf301",
        "name": "Get many workflows",
        "type": "n8n-nodes-base.n8n",
        "position": [
          2768,
          3184
        ],
        "typeVersion": 1,
        "credentials": {
          "n8nApi": {
            "id": "7Wrsiiim3mlOlIY9",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "options": {}
        },
        "id": "902cf5bc-32f1-44b1-975f-2260cc0857fa",
        "name": "Workflows",
        "type": "n8n-nodes-base.aggregate",
        "position": [
          2992,
          3280
        ],
        "typeVersion": 1
      },
      {
        "parameters": {},
        "id": "ff7010fa-f4ae-4569-97b9-3c53dca60c1e",
        "name": "Merge",
        "type": "n8n-nodes-base.merge",
        "position": [
          2768,
          3856
        ],
        "typeVersion": 3.2
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "aea200f9-9f83-4e4e-a965-65fddcbb6a5f",
                      "operator": {
                        "name": "filter.operator.equals",
                        "type": "string",
                        "operation": "equals"
                      },
                      "leftValue": "={{$json.github_status}}",
                      "rightValue": "new"
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "new"
              },
              {
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "706ebf35-6f74-43b6-9f98-94cf14107947",
                      "operator": {
                        "name": "filter.operator.equals",
                        "type": "string",
                        "operation": "equals"
                      },
                      "leftValue": "={{$json.github_status}}",
                      "rightValue": "different"
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "different"
              },
              {
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "30c8c5a8-269f-424a-93ed-d2cbe52acf7c",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "leftValue": "={{$json.github_status}}",
                      "rightValue": "same"
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "same"
              }
            ]
          },
          "options": {}
        },
        "id": "a1037e03-3947-44c0-99e4-c8152d7cc624",
        "name": "Check Status",
        "type": "n8n-nodes-base.switch",
        "position": [
          3200,
          3856
        ],
        "typeVersion": 3.2
      },
      {
        "parameters": {
          "jsCode": "const workflows = $input.first().json.workflows;\n\nconst some = workflows.some(x => x.id === $input.first().json.name.split(\".\")[0])\n\nreturn [{json: { isDeleted: !some }}];"
        },
        "id": "dce8db11-e6f9-4dd6-a67f-c7f7d2c83637",
        "name": "isDeleted",
        "type": "n8n-nodes-base.code",
        "position": [
          2992,
          4176
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "resource": "file",
          "operation": "delete",
          "owner": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $('Switch1').item.json.repo.owner }}"
          },
          "repository": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $('Switch1').item.json.repo.name }}"
          },
          "filePath": "={{$('Switch1').first().json.name}}",
          "commitMessage": "={{$('Switch1').first().json.name}} (deleted)"
        },
        "id": "749fc260-0bfc-4fdd-9d82-01bfe6f41a3a",
        "name": "Delete a file",
        "type": "n8n-nodes-base.github",
        "position": [
          3648,
          4304
        ],
        "webhookId": "592f888e-3e41-49ce-b88a-d73f8756eac8",
        "typeVersion": 1.1,
        "credentials": {
          "githubOAuth2Api": {
            "id": "xbzooUXVcAxGUUX7",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "5e73d2e7-4b1a-4180-8af2-047e52eb8a0a",
                "name": "repo.owner",
                "type": "string",
                "value": "={{ $('Globals').item.json.repo.owner }}"
              },
              {
                "id": "22445c28-5431-45a5-86ca-0ab2ff26cff5",
                "name": "repo.name",
                "type": "string",
                "value": "={{ $('Globals').item.json.repo.name }}"
              },
              {
                "id": "232d9947-a43f-48a9-b385-da1aa8f5139e",
                "name": "origin",
                "type": "string",
                "value": "n8n"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "id": "37b8c7e6-128d-4af8-a07b-9f3618f6f0cf",
        "name": "n8n",
        "type": "n8n-nodes-base.set",
        "position": [
          3424,
          3072
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "5e73d2e7-4b1a-4180-8af2-047e52eb8a0a",
                "name": "repo.owner",
                "type": "string",
                "value": "={{ $('Globals').item.json.repo.owner }}"
              },
              {
                "id": "22445c28-5431-45a5-86ca-0ab2ff26cff5",
                "name": "repo.name",
                "type": "string",
                "value": "={{ $('Globals').item.json.repo.name }}"
              },
              {
                "id": "232d9947-a43f-48a9-b385-da1aa8f5139e",
                "name": "origin",
                "type": "string",
                "value": "github"
              },
              {
                "id": "456ec816-8c15-498b-bbc5-a96abce95d59",
                "name": "workflows",
                "type": "array",
                "value": "={{ $('Workflows').item.json.data }}"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "id": "5e32d4f7-4c21-4345-ba04-108066295177",
        "name": "github",
        "type": "n8n-nodes-base.set",
        "position": [
          3424,
          3280
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "content": "## Main workflow loop",
          "height": 601,
          "width": 1831,
          "color": 7
        },
        "id": "8c7bd28e-e6d8-4829-acbb-40ab09c17b6e",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2240,
          2912
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## Subworkflow",
          "height": 941,
          "width": 2231,
          "color": 6
        },
        "id": "98766f4e-eb82-4b30-998a-61bdbf9c6ec2",
        "name": "Sticky Note2",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1840,
          3536
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "8d513345-6484-431f-afb7-7cf045c90f4f",
                "name": "Done",
                "type": "boolean",
                "value": true
              }
            ]
          },
          "options": {}
        },
        "id": "d1473826-41fa-43f1-a6c9-f36bd0ab3fdb",
        "name": "Return1",
        "type": "n8n-nodes-base.set",
        "position": [
          3872,
          4112
        ],
        "typeVersion": 3.3
      },
      {
        "parameters": {
          "url": "={{ $json.download_url }}",
          "options": {}
        },
        "id": "b3a1d5db-0bf4-4166-ba4b-98d8abfd2de1",
        "name": "Get File1",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          2992,
          3584
        ],
        "typeVersion": 4.2
      },
      {
        "parameters": {
          "jsCode": "const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();"
        },
        "id": "b83a88e0-c846-4808-a2fb-89a85ebbee49",
        "name": "isDiffOrNew1",
        "type": "n8n-nodes-base.code",
        "position": [
          2992,
          3856
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "resource": "file",
          "owner": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $('Switch1').item.json.repo.owner }}"
          },
          "repository": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $('Switch1').item.json.repo.name }}"
          },
          "filePath": "={{$('Switch1').first().json.id}}.json",
          "fileContent": "={{$('isDiffOrNew1').item.json[\"n8n_data_stringy\"]}}",
          "commitMessage": "={{$('Switch1').first().json.name}} ({{$json.github_status}})"
        },
        "id": "c2753477-fde2-48de-8681-b5c805147b47",
        "name": "Create new file2",
        "type": "n8n-nodes-base.github",
        "position": [
          3648,
          3680
        ],
        "webhookId": "93cca36a-a5f4-4919-b655-e0fa2cc2ca36",
        "typeVersion": 1,
        "credentials": {
          "githubOAuth2Api": {
            "id": "xbzooUXVcAxGUUX7",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $('Switch1').item.json.repo.owner }}"
          },
          "repository": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $('Switch1').item.json.repo.name }}"
          },
          "filePath": "={{$('Switch1').first().json.id}}.json",
          "fileContent": "={{$('isDiffOrNew1').item.json[\"n8n_data_stringy\"]}}",
          "commitMessage": "={{$('Switch1').first().json.name}} ({{$json.github_status}})"
        },
        "id": "c92736e5-dfe1-4743-8d63-62944e3465fb",
        "name": "Edit existing file2",
        "type": "n8n-nodes-base.github",
        "position": [
          3648,
          3856
        ],
        "webhookId": "286cabce-a3ec-4202-9d94-d005502d73cc",
        "typeVersion": 1,
        "credentials": {
          "githubOAuth2Api": {
            "id": "xbzooUXVcAxGUUX7",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "options": {
            "reset": "={{ $node[\"Loop Over Items2\"].context[\"done\"] }}"
          }
        },
        "id": "ec17bb79-56eb-4b8c-b975-15ab91302e5c",
        "name": "Loop Over Items2",
        "type": "n8n-nodes-base.splitInBatches",
        "position": [
          3648,
          3184
        ],
        "typeVersion": 3
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 7
              }
            ]
          }
        },
        "id": "1b1b504f-db3d-4c3a-b998-fceab77e5e46",
        "name": "Schedule Trigger2",
        "type": "n8n-nodes-base.scheduleTrigger",
        "position": [
          2320,
          3280
        ],
        "typeVersion": 1.2
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "resource": "file",
          "operation": "list",
          "owner": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $('Globals').item.json.repo.owner }}"
          },
          "repository": {
            "__rl": true,
            "mode": "name",
            "value": "={{ $('Globals').item.json.repo.name }}"
          }
        },
        "id": "274dfa76-a840-466b-8845-0c2b1cb9a6ac",
        "name": "List files1",
        "type": "n8n-nodes-base.github",
        "position": [
          3200,
          3280
        ],
        "webhookId": "244ea8da-851f-4afb-980c-5e5973b6a1af",
        "executeOnce": true,
        "typeVersion": 1.1,
        "credentials": {
          "githubOAuth2Api": {
            "id": "xbzooUXVcAxGUUX7",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "8f6b31b0-a75c-4299-a530-d15b3ff65c9a",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "leftValue": "={{ $json.origin }}",
                      "rightValue": "n8n"
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "n8n"
              },
              {
                "conditions": {
                  "options": {
                    "version": 2,
                    "leftValue": "",
                    "caseSensitive": true,
                    "typeValidation": "strict"
                  },
                  "combinator": "and",
                  "conditions": [
                    {
                      "id": "09e36861-1120-4343-8d38-4797e9d67eec",
                      "operator": {
                        "name": "filter.operator.equals",
                        "type": "string",
                        "operation": "equals"
                      },
                      "leftValue": "={{ $json.origin }}",
                      "rightValue": "github"
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "github"
              }
            ]
          },
          "options": {}
        },
        "id": "a20bd67b-ecc5-4125-9770-a10abf62c47d",
        "name": "Switch1",
        "type": "n8n-nodes-base.switch",
        "position": [
          2192,
          3984
        ],
        "typeVersion": 3.2
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "bb927e0c-f27b-4dce-80df-8d7611467045",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                },
                "leftValue": "={{ $json.isDeleted }}",
                "rightValue": ""
              }
            ]
          },
          "options": {}
        },
        "id": "6e8cb5f8-f7fe-4420-bc32-592b771a6492",
        "name": "If1",
        "type": "n8n-nodes-base.if",
        "position": [
          3200,
          4176
        ],
        "typeVersion": 2.2
      },
      {
        "parameters": {
          "content": "## Edit this node 👇",
          "height": 80,
          "width": 150,
          "color": 4
        },
        "id": "6c4e0be6-d1c4-4f7d-8980-c96bddf392f7",
        "name": "Sticky Note5",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2528,
          3040
        ],
        "typeVersion": 1
      }
    ],
    "connections": {
      "n8n": {
        "main": [
          [
            {
              "node": "Loop Over Items2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "isDiffOrNew1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "github": {
        "main": [
          [
            {
              "node": "Loop Over Items2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Globals": {
        "main": [
          [
            {
              "node": "Get many workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Workflows": {
        "main": [
          [
            {
              "node": "List files1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "isDeleted": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "File is new": {
        "main": [
          [
            {
              "node": "Create new file2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Status": {
        "main": [
          [
            {
              "node": "File is new",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "File is different",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Same file - Do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Delete a file": {
        "main": [
          [
            {
              "node": "Return1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get file data": {
        "main": [
          [
            {
              "node": "If file too large",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow": {
        "main": [
          [
            {
              "node": "Loop Over Items2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "File is different": {
        "main": [
          [
            {
              "node": "Edit existing file2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If file too large": {
        "main": [
          [
            {
              "node": "Get File1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many workflows": {
        "main": [
          [
            {
              "node": "Workflows",
              "type": "main",
              "index": 0
            },
            {
              "node": "n8n",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On clicking 'execute'": {
        "main": [
          [
            {
              "node": "Globals",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Same file - Do nothing": {
        "main": [
          [
            {
              "node": "Return1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Switch1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get File1": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "isDiffOrNew1": {
        "main": [
          [
            {
              "node": "Check Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create new file2": {
        "main": [
          [
            {
              "node": "Return1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit existing file2": {
        "main": [
          [
            {
              "node": "Return1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items2": {
        "main": [
          [],
          [
            {
              "node": "Execute Workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger2": {
        "main": [
          [
            {
              "node": "Globals",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "List files1": {
        "main": [
          [
            {
              "node": "github",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch1": {
        "main": [
          [
            {
              "node": "Get file data",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ],
          [
            {
              "node": "isDeleted",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "Delete a file",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Return1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null
  },
  "activeVersionId": "9f639f73-15c2-4fac-a729-5158789bc6c2",
  "connections": {
    "n8n": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "isDiffOrNew1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "github": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Globals": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflows": {
      "main": [
        [
          {
            "node": "List files1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDeleted": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File is new": {
      "main": [
        [
          {
            "node": "Create new file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "File is new",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File is different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Same file - Do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a file": {
      "main": [
        [
          {
            "node": "Return1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get file data": {
      "main": [
        [
          {
            "node": "If file too large",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File is different": {
      "main": [
        [
          {
            "node": "Edit existing file2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If file too large": {
      "main": [
        [
          {
            "node": "Get File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Workflows",
            "type": "main",
            "index": 0
          },
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Same file - Do nothing": {
      "main": [
        [
          {
            "node": "Return1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew1": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create new file2": {
      "main": [
        [
          {
            "node": "Return1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit existing file2": {
      "main": [
        [
          {
            "node": "Return1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger2": {
      "main": [
        [
          {
            "node": "Globals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files1": {
      "main": [
        [
          {
            "node": "github",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Get file data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "isDeleted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Delete a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-06T03:58:15.243Z",
  "id": "SwsqK4UizaTioSiF",
  "isArchived": false,
  "meta": {
    "templateId": "5851",
    "templateCredsSetupCompleted": true
  },
  "name": "n8nWorkflowBackups",
  "nodes": [
    {
      "parameters": {},
      "id": "dec50d37-ed40-4ee4-9bb0-e4f87ef053f3",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        2320,
        3072
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 1,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "45ce825e-9fa6-430c-8931-9aaf22c42585",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json.content }}",
              "rightValue": ""
            },
            {
              "id": "9619a55f-7fb1-4f24-b1a7-7aeb82365806",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              },
              "leftValue": "={{ $json.error }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "f1c356c2-fd33-4128-b09f-74bff9f75a5c",
      "name": "If file too large",
      "type": "n8n-nodes-base.if",
      "position": [
        2768,
        3600
      ],
      "typeVersion": 2
    },
    {
      "parameters": {},
      "id": "a1463b34-f3bd-47ab-bbd1-e7f7d42acb4b",
      "name": "Same file - Do nothing",
      "type": "n8n-nodes-base.noOp",
      "position": [
        3424,
        4032
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "8ebc7763-b744-4e28-9159-7849fe52b980",
      "name": "File is different",
      "type": "n8n-nodes-base.noOp",
      "position": [
        3424,
        3856
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "7a541734-db02-4958-8e8b-ce5ea45af188",
      "name": "File is new",
      "type": "n8n-nodes-base.noOp",
      "position": [
        3424,
        3680
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Backup to GitHub \nThis workflow will backup all instance workflows to GitHub and also deleted it if was deleted in n8n.\n\nThe files are saved `ID.json` for the filename.\n\n### Setup\nOpen `Globals` node and update the values below 👇\n\n- **repo.owner:** your Github username\n- **repo.name:** the name of your repository\n\n\nIf your username was `john-doe` and your repository was called `n8n-backups`:\n\n- repo.owner - john-doe\n- repo.name - n8n-backups\n\n\nThe workflow calls itself using a subworkflow, to help reduce memory usage.",
        "height": 601,
        "width": 371,
        "color": 4
      },
      "id": "6800b500-50ef-440a-862e-21bbcff3172f",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1840,
        2912
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.repo.owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.repo.name }}"
        },
        "filePath": "={{ $('Switch1').item.json.id }}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "323257bf-7027-4704-9b1b-c07d76da2f60",
      "name": "Get file data",
      "type": "n8n-nodes-base.github",
      "position": [
        2544,
        3600
      ],
      "webhookId": "5cf07ee9-70c6-48bf-b370-534315f2d48e",
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubOAuth2Api": {
          "id": "xbzooUXVcAxGUUX7",
          "name": "GitHub account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "4389ba6f-822b-46d3-97e4-9ff5a0066aa2",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        1968,
        3984
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $workflow.id }}"
        },
        "workflowInputs": {
          "value": {},
          "schema": [],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "id": "b5763452-4f78-40bf-9a6f-a0ba3aa34f0e",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        3872,
        3184
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6cf546c5-5737-4dbd-851b-17d68e0a3780",
              "name": "repo.owner",
              "type": "string",
              "value": "MathPosey"
            },
            {
              "id": "452efa28-2dc6-4ea3-a7a2-c35d100d0382",
              "name": "repo.name",
              "type": "string",
              "value": "n8n-Workflow-Backups-"
            }
          ]
        },
        "options": {}
      },
      "id": "c720a134-5f80-4e61-a0f7-b1016a91b3e7",
      "name": "Globals",
      "type": "n8n-nodes-base.set",
      "position": [
        2544,
        3184
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "ff8469cd-d7e8-4ff0-9404-98e906dbf301",
      "name": "Get many workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        2768,
        3184
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "7Wrsiiim3mlOlIY9",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "902cf5bc-32f1-44b1-975f-2260cc0857fa",
      "name": "Workflows",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        2992,
        3280
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "ff7010fa-f4ae-4569-97b9-3c53dca60c1e",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        2768,
        3856
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "aea200f9-9f83-4e4e-a965-65fddcbb6a5f",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{$json.github_status}}",
                    "rightValue": "new"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "new"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "706ebf35-6f74-43b6-9f98-94cf14107947",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{$json.github_status}}",
                    "rightValue": "different"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "different"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "30c8c5a8-269f-424a-93ed-d2cbe52acf7c",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{$json.github_status}}",
                    "rightValue": "same"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "same"
            }
          ]
        },
        "options": {}
      },
      "id": "a1037e03-3947-44c0-99e4-c8152d7cc624",
      "name": "Check Status",
      "type": "n8n-nodes-base.switch",
      "position": [
        3200,
        3856
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "jsCode": "const workflows = $input.first().json.workflows;\n\nconst some = workflows.some(x => x.id === $input.first().json.name.split(\".\")[0])\n\nreturn [{json: { isDeleted: !some }}];"
      },
      "id": "dce8db11-e6f9-4dd6-a67f-c7f7d2c83637",
      "name": "isDeleted",
      "type": "n8n-nodes-base.code",
      "position": [
        2992,
        4176
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "delete",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Switch1').item.json.repo.owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Switch1').item.json.repo.name }}"
        },
        "filePath": "={{$('Switch1').first().json.name}}",
        "commitMessage": "={{$('Switch1').first().json.name}} (deleted)"
      },
      "id": "749fc260-0bfc-4fdd-9d82-01bfe6f41a3a",
      "name": "Delete a file",
      "type": "n8n-nodes-base.github",
      "position": [
        3648,
        4304
      ],
      "webhookId": "592f888e-3e41-49ce-b88a-d73f8756eac8",
      "typeVersion": 1.1,
      "credentials": {
        "githubOAuth2Api": {
          "id": "xbzooUXVcAxGUUX7",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5e73d2e7-4b1a-4180-8af2-047e52eb8a0a",
              "name": "repo.owner",
              "type": "string",
              "value": "={{ $('Globals').item.json.repo.owner }}"
            },
            {
              "id": "22445c28-5431-45a5-86ca-0ab2ff26cff5",
              "name": "repo.name",
              "type": "string",
              "value": "={{ $('Globals').item.json.repo.name }}"
            },
            {
              "id": "232d9947-a43f-48a9-b385-da1aa8f5139e",
              "name": "origin",
              "type": "string",
              "value": "n8n"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "37b8c7e6-128d-4af8-a07b-9f3618f6f0cf",
      "name": "n8n",
      "type": "n8n-nodes-base.set",
      "position": [
        3424,
        3072
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5e73d2e7-4b1a-4180-8af2-047e52eb8a0a",
              "name": "repo.owner",
              "type": "string",
              "value": "={{ $('Globals').item.json.repo.owner }}"
            },
            {
              "id": "22445c28-5431-45a5-86ca-0ab2ff26cff5",
              "name": "repo.name",
              "type": "string",
              "value": "={{ $('Globals').item.json.repo.name }}"
            },
            {
              "id": "232d9947-a43f-48a9-b385-da1aa8f5139e",
              "name": "origin",
              "type": "string",
              "value": "github"
            },
            {
              "id": "456ec816-8c15-498b-bbc5-a96abce95d59",
              "name": "workflows",
              "type": "array",
              "value": "={{ $('Workflows').item.json.data }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "5e32d4f7-4c21-4345-ba04-108066295177",
      "name": "github",
      "type": "n8n-nodes-base.set",
      "position": [
        3424,
        3280
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## Main workflow loop",
        "height": 601,
        "width": 1831,
        "color": 7
      },
      "id": "8c7bd28e-e6d8-4829-acbb-40ab09c17b6e",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2240,
        2912
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Subworkflow",
        "height": 941,
        "width": 2231,
        "color": 6
      },
      "id": "98766f4e-eb82-4b30-998a-61bdbf9c6ec2",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1840,
        3536
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8d513345-6484-431f-afb7-7cf045c90f4f",
              "name": "Done",
              "type": "boolean",
              "value": true
            }
          ]
        },
        "options": {}
      },
      "id": "d1473826-41fa-43f1-a6c9-f36bd0ab3fdb",
      "name": "Return1",
      "type": "n8n-nodes-base.set",
      "position": [
        3872,
        4112
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "url": "={{ $json.download_url }}",
        "options": {}
      },
      "id": "b3a1d5db-0bf4-4166-ba4b-98d8abfd2de1",
      "name": "Get File1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2992,
        3584
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "jsCode": "const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();"
      },
      "id": "b83a88e0-c846-4808-a2fb-89a85ebbee49",
      "name": "isDiffOrNew1",
      "type": "n8n-nodes-base.code",
      "position": [
        2992,
        3856
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Switch1').item.json.repo.owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Switch1').item.json.repo.name }}"
        },
        "filePath": "={{$('Switch1').first().json.id}}.json",
        "fileContent": "={{$('isDiffOrNew1').item.json[\"n8n_data_stringy\"]}}",
        "commitMessage": "={{$('Switch1').first().json.name}} ({{$json.github_status}})"
      },
      "id": "c2753477-fde2-48de-8681-b5c805147b47",
      "name": "Create new file2",
      "type": "n8n-nodes-base.github",
      "position": [
        3648,
        3680
      ],
      "webhookId": "93cca36a-a5f4-4919-b655-e0fa2cc2ca36",
      "typeVersion": 1,
      "credentials": {
        "githubOAuth2Api": {
          "id": "xbzooUXVcAxGUUX7",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Switch1').item.json.repo.owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Switch1').item.json.repo.name }}"
        },
        "filePath": "={{$('Switch1').first().json.id}}.json",
        "fileContent": "={{$('isDiffOrNew1').item.json[\"n8n_data_stringy\"]}}",
        "commitMessage": "={{$('Switch1').first().json.name}} ({{$json.github_status}})"
      },
      "id": "c92736e5-dfe1-4743-8d63-62944e3465fb",
      "name": "Edit existing file2",
      "type": "n8n-nodes-base.github",
      "position": [
        3648,
        3856
      ],
      "webhookId": "286cabce-a3ec-4202-9d94-d005502d73cc",
      "typeVersion": 1,
      "credentials": {
        "githubOAuth2Api": {
          "id": "xbzooUXVcAxGUUX7",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "reset": "={{ $node[\"Loop Over Items2\"].context[\"done\"] }}"
        }
      },
      "id": "ec17bb79-56eb-4b8c-b975-15ab91302e5c",
      "name": "Loop Over Items2",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        3648,
        3184
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "id": "1b1b504f-db3d-4c3a-b998-fceab77e5e46",
      "name": "Schedule Trigger2",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        2320,
        3280
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Globals').item.json.repo.owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $('Globals').item.json.repo.name }}"
        }
      },
      "id": "274dfa76-a840-466b-8845-0c2b1cb9a6ac",
      "name": "List files1",
      "type": "n8n-nodes-base.github",
      "position": [
        3200,
        3280
      ],
      "webhookId": "244ea8da-851f-4afb-980c-5e5973b6a1af",
      "executeOnce": true,
      "typeVersion": 1.1,
      "credentials": {
        "githubOAuth2Api": {
          "id": "xbzooUXVcAxGUUX7",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "8f6b31b0-a75c-4299-a530-d15b3ff65c9a",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.origin }}",
                    "rightValue": "n8n"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "n8n"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "09e36861-1120-4343-8d38-4797e9d67eec",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.origin }}",
                    "rightValue": "github"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "github"
            }
          ]
        },
        "options": {}
      },
      "id": "a20bd67b-ecc5-4125-9770-a10abf62c47d",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "position": [
        2192,
        3984
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "bb927e0c-f27b-4dce-80df-8d7611467045",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.isDeleted }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "6e8cb5f8-f7fe-4420-bc32-592b771a6492",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "position": [
        3200,
        4176
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "content": "## Edit this node 👇",
        "height": 80,
        "width": 150,
        "color": 4
      },
      "id": "6c4e0be6-d1c4-4f7d-8980-c96bddf392f7",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2528,
        3040
      ],
      "typeVersion": 1
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "MathPosey",
    "name": "n8n-Workflow-Backups-"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-08-06T03:58:15.243Z",
      "createdAt": "2025-08-06T03:58:15.243Z",
      "role": "workflow:owner",
      "workflowId": "SwsqK4UizaTioSiF",
      "projectId": "VFY7knhJH9Pt1e6U"
    }
  ],
  "staticData": {
    "node:Schedule Trigger2": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-08-27T21:59:19.823Z",
  "versionId": "9f639f73-15c2-4fac-a729-5158789bc6c2"
}