xJLmubrWyaN2X3bu.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Google Sheets": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets (Read)": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ],
      "main": [
        []
      ]
    },
    "Twilio Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets (Log)": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-03T23:11:20.893Z",
  "id": "xJLmubrWyaN2X3bu",
  "isArchived": false,
  "meta": null,
  "name": "AiRecruter",
  "nodes": [
    {
      "parameters": {
        "content": "## AI Job Search Agent Workflow 🤖\n\nThis workflow is designed to automate the process of calling companies from a Google Sheet to inquire about job opportunities.\n\n**1. Start Node:** Initiates the workflow.\n\n**2. Google Sheets Node (Read Data):**\n   - **Action:** Reads rows from your specified Google Sheet.\n   - **Configuration:** You *must* configure this node with your **Google Sheet ID** and **Sheet Name**.\n   - **Expected Data:** Ensure your sheet contains columns like 'Phone Number' and 'Company Name' for the AI Agent to use.\n\n**3. AI Agent Node:**\n   - **Role:** Acts as your personal job search assistant.\n   - **Instructions:** It will receive company and phone number data from Google Sheets and, *hypothetically*, use a calling tool to contact them.\n   - **Important:** The actual \"calling\" functionality is currently **MISSING**. You would need to add a custom tool (e.g., an integration with Twilio or a custom HTTP request to a calling API) that the AI Agent can utilize.\n\n**4. OpenAI Chat Model:**\n   - **Function:** Provides the intelligence for the AI Agent to understand prompts and generate responses during calls.\n   - **Configuration:** Ensure your OpenAI credentials are set up in n8n.",
        "height": 816,
        "width": 700
      },
      "name": "Workflow Explanation",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -192,
        -720
      ],
      "id": "generated-8bfaa277-231a-4bd3-82c5-bdb9af0acf6e"
    },
    {
      "parameters": {
        "documentId": {
          "mode": "list",
          "value": "YOUR_GOOGLE_SHEET_ID"
        },
        "sheetName": {
          "value": "Sheet1",
          "mode": "list"
        },
        "filtersUI": {
          "values": []
        },
        "combineFilters": "AND",
        "options": {
          "returnAllMatches": "returnFirstMatch"
        }
      },
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        64,
        400
      ],
      "id": "generated-f006bec0-3047-4645-a6ab-caf7c39b53ac",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jMg3j3fkols2qHBL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Enhanced AI Job Search Agent 🚀\\n\\nThis workflow now includes the capability for the AI Agent to make outbound calls using **Twilio** and log the conversation details to **Google Sheets**.\\n\\n### Setup Steps:\\n1.  **Google Sheets (Read)**: Replace \\\"YOUR\\_GOOGLE\\_SHEET\\_ID\\\" with your actual Google Sheet ID and confirm the sheet name.\\n2.  **Twilio**: You need to configure your Twilio credentials. Set the 'From' number to your Twilio phone number.\\n3.  **AI Agent**: The agent is prompted to act as a recruiter. It will use the Twilio tool to make calls and gather information.\\n4.  **Google Sheets (Log)**: This node will log the call details and the AI agent's responses. Ensure you replace \\\"YOUR\\_GOOGLE\\_SHEET\\_ID\\\" with the ID of your log sheet.\\n\\n**Important**: For actual calling functionality, you will need to link your Twilio account to n8n and ensure you have sufficient balance and appropriate numbers configured for making calls. The `message` parameter in the Twilio node will be the text the AI agent converts to speech.",
        "height": 834,
        "width": 614
      },
      "position": [
        512,
        -736
      ],
      "type": "n8n-nodes-base.stickyNote",
      "name": "Sticky Note",
      "id": "generated-137b402e-784c-45fe-aeb0-9523f282d060"
    },
    {
      "parameters": {
        "documentId": {
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list"
        },
        "sheetName": {
          "value": "Sheet1",
          "mode": "list"
        },
        "filtersUI": {
          "values": []
        },
        "options": {
          "returnAllMatches": "returnFirstMatch"
        }
      },
      "name": "Google Sheets (Read)",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        336,
        720
      ],
      "id": "generated-512b5b24-4a7f-4c4d-a5e0-9860ea0b867b",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jMg3j3fkols2qHBL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "call",
        "from": "YOUR_TWILIO_PHONE_NUMBER",
        "to": "={{$json.phoneNumber}}",
        "message": "={{$json.messageToCall}}",
        "options": {
          "statusCallback": ""
        }
      },
      "position": [
        496,
        736
      ],
      "type": "n8n-nodes-base.twilioTool",
      "name": "Twilio Tool",
      "id": "generated-5053f959-2cea-464c-94f3-89e260ba75f1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list"
        },
        "sheetName": {
          "value": "Call_Logs",
          "mode": "list"
        },
        "options": {
          "cellFormat": "USER_ENTERED",
          "useAppend": false
        }
      },
      "name": "Google Sheets (Log)",
      "position": [
        784,
        720
      ],
      "type": "n8n-nodes-base.googleSheetsTool",
      "id": "generated-00d3bcac-89ff-4459-b9d6-a492cc10cf16",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jMg3j3fkols2qHBL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Recruiter agent on behalf of Matthew Posey",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        272,
        400
      ],
      "id": "c5eaca39-64b7-4515-8ca0-18bd86932dac",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        144,
        608
      ],
      "id": "a283b40c-cc5e-49ad-b3e6-19936344df17",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "FCgioqL0Ukq0AAAo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        400
      ],
      "id": "40a49d63-e4e7-4913-8c3b-6946188890fb",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "content": "## Agent predicts stock market. \n\n## 1. How do professionals do it? They observe a companies value,  determine if it's under valued at its market price. \n** Api call stock exchanges that gather stock prices,  feed these into maybe a rag system to compile the best opinion of what is going on for a stock price? \n\n## 2. News. The news will always say a stocks poor when it's a buy and great when it's a sell. You buy and sell the news. \n** Node scraping stocks news, comparing public opinion. **\n\n## 3. Insider trading,  i have no connections but there are services for politician trades.  They aren't the best because they post like 30 days late,  but still good for comparison in the rag? \n\n## 4. There is some way to predict the market that either isn't known or isn't talked about. People are making MONEY. \n\n## 5 PERCEPTION of the market. \n\n",
        "height": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -384,
        240
      ],
      "id": "e14e7d3e-54f4-485c-bf9b-a21bf878e27b",
      "name": "Sticky Note1"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "MathPosey",
    "name": "n8n-Workflow-Backups-"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-03T23:11:20.893Z",
      "createdAt": "2025-11-03T23:11:20.893Z",
      "role": "workflow:owner",
      "workflowId": "xJLmubrWyaN2X3bu",
      "projectId": "VFY7knhJH9Pt1e6U"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-01T08:17:09.286Z",
  "versionId": "bad60de7-6221-4b0e-bf34-72ff299e2425"
}